.catalog {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  .catalog__container111 {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-bottom: 100px;

    h2 {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;

      font-family: "Jost", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 130%;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      color: #474a51;
    }

    .catalog__inner {
      width: 100%;
      height: 100%;
      max-width: 1280px;
      margin: 50px auto;

      .catalog__inner__top {
        width: 100%;
        height: 65px;

        h1 {
          font-family: "Jost", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 52px;
          line-height: 130%;
          text-align: center;
          color: #474a51;
          text-transform: uppercase;
        }
      }
      .catalog__inner__subtop {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .glavnaya__katalog {
          width: 200px;
          height: 40px;
          display: flex;
          align-items: center;
        }
        .order__option {
          width: 400px;
          display: flex;
          gap: 10px;

          .sortirovka {
            width: 50%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          select {
            width: 50%;
            height: 40px;
            padding-left: 5px;
            outline: none;
            border: 1px solid #eee;
            option {
              height: 40px;
              color: #474a51;
            }
          }
        }
      }
    }
    .catalog__inner__bottom {
      width: 100%;
      height: 100%;
      margin-top: 50px;
      display: grid;
      align-items: center;
      grid-template-columns: 1fr 1fr;

      .catalog__inner__bottom__left {
        width: 300px;
        height: 100%;

        .categories {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: column;

          .item {
            text-decoration: none;
            width: 100%;
            height: 31px;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            color: #474a51;

            &:hover {
              color: teal;
              transition: all 0.3s ease-in-out;
            }
          }
        }
        .clothes {
          width: 100%;
          height: auto;

          .clothes__item {
            width: 100%;
            height: 25px;
            margin-top: 2px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 25px;
            // border: 1px solid black;

            .clothes__check {
              cursor: pointer;
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2px;
              border: 1px solid #474a51;
              .Box {
                cursor: pointer;
                width: 10px;
                height: 10px;
              }
              .Box-active {
                cursor: pointer;
                width: 10px;
                height: 10px;
                background-color: teal;
              }
            }
            .clothes__name {
              cursor: pointer;
              &:hover {
                color: teal;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        .colors {
          width: 100%;
          height: auto;
          margin-top: 50px;
          h2 {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;

            font-family: "Jost", sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 130%;
            letter-spacing: 0.02em;
            text-transform: uppercase;
            color: #474a51;
          }

          .colors__item {
            width: 100%;
            height: 25px;
            margin-top: 2px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 25px;

            .color__check {
              cursor: pointer;
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2px;
              border: 1px solid #474a51;
              .Box {
                cursor: pointer;
                width: 10px;
                height: 10px;
              }
              .Box-active {
                cursor: pointer;
                width: 10px;
                height: 10px;
                background-color: teal;
              }
            }
            .color__name {
              cursor: pointer;
              &:hover {
                color: teal;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }

        /*--------------------------------------------------------------------------*/

        .sizes {
          width: 100%;
          height: auto;
          margin-top: 50px;

          .sizes__item {
            width: 100%;
            height: 25px;
            margin-top: 2px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 25px;

            .size__check {
              cursor: pointer;
              width: 20px;
              height: 20px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-top: 2px;
              border: 1px solid #474a51;
              .Box {
                cursor: pointer;
                width: 10px;
                height: 10px;
              }
              .Box-active {
                cursor: pointer;
                width: 10px;
                height: 10px;
                background-color: teal;
              }
            }
            .size__name {
              cursor: pointer;
              &:hover {
                color: teal;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        /*----------------------------------------------Size end-----------------------------*/

        .price {
          width: 100%;
          height: auto;
          margin-top: 50px;

          .price__content {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            p {
              font-family: "Jost", sans-serif;
              font-weight: 400;
              font-size: 16px;
              line-height: 130%;
              color: #474a51;
              text-transform: uppercase;
            }
            input[type="text"] {
              box-sizing: border-box;
              border: 1px solid #eee;
              width: 70px;
              height: 30px;
              padding-left: 10px;
              outline: none !important;
            }
          }
        }
        .clear {
          width: 100%;
          height: 40px;
          display: flex;
          align-items: center;
          margin-top: 50px;

          .clear__filter {
            text-decoration: none;
            width: 155px;
            height: 38px;
            background: #9f9d9d;
            color: #fff;
            font-family: "Jost", sans-serif;
            display: flex;
            align-items: center;
            justify-content: center;
            text-transform: uppercase;
            padding: 10px 15px;
            &:hover {
              border: 1px solid #474a51;
              transition: all 0.5s;
              background-color: #fff;
              color: #474a51;
            }
          }
        }
      }

      /**********************************************************************/

      .catalog__inner__bottom__right {
        width: 920px;
        height: 100%;

        .catalog__products {
          width: 100%;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          gap: 20px;

          .catalog__card {
            width: 290px;
            height: 420px;
            display: flex;
            flex-direction: column;

            .card__img {
              width: 100%;
              height: 90%;
              position: relative;
              cursor: pointer;
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              .prioritet__like {
                top: 0px;
                position: absolute;
                width: 100%;
                height: 38px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                opacity: 0;

                .prioritet {
                  width: 115px;
                  height: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;

                  .prior__title {
                    font-family: "Jost", sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    display: flex;
                    text-transform: uppercase;
                    color: #fff;
                  }
                }
                .like {
                  width: 50px;
                  height: 100%;
                  color: #fff;
                  display: flex;
                  font-size: 18px;
                  font-weight: 700;
                  align-items: center;
                  justify-content: center;
                }
              }
              .size__add {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 70px;
                font-weight: 400;
                font-size: 16px;
                color: #474a51;
                background: #dde8f6;
                cursor: pointer;
                opacity: 0;
                font-family: "Jost", sans-serif;
                .size {
                  width: 100%;
                  height: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 20px;
                  p {
                    width: 20px;
                    height: 20px;

                    &:hover {
                      color: #fff;
                      background-color: #474a51;
                      transition: all 0.3s ease-in-out;
                    }
                  }
                }
                .add {
                  width: 100%;
                  height: 50%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  &:hover {
                    color: #fff;
                    background-color: #474a51;
                    transition: all 0.3s ease-in-out;
                  }
                }
              }

              &:hover {
                .size__add {
                  opacity: 0.5;
                }
                .prioritet__like {
                  transition: all 0.3s ease-in-out;
                  opacity: 1;
                }
              }

              .hitprodaj {
                width: 115px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;
                text-transform: uppercase;
                background-color: #285da1;
                font-size: 14px;
              }
              .novinka {
                width: 115px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                border: 1px solid white;
                color: #fff;
                font-size: 14px;
              }
              .posledniyrazmer {
                width: 170px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                border: 1px solid #474a51;
                background-color: #fff;
                color: #474a51;
                font-size: 14px;
              }
              .rasprodaja {
                width: 115px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: uppercase;
                color: #fff;
                font-size: 14px;
                background-color: #eb5757;
              }
            }
            .card__price__name {
              width: 100%;
              height: 10%;

              .name {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              .price {
                width: 100%;
                height: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
            }
          }
        }
        .show__all1 {
          width: 100%;
          height: 50px;
          display: flex;
          align-items: center;
          margin-top: 50px;
          justify-content: center;

          .all {
            width: 202px;
            height: 51px;
            box-sizing: border-box;
            align-items: center;
            display: flex;
            justify-content: center;
            border: 1px solid #474a51;
            font-family: "Jost", sans-serif;
            font-size: 16px;
            font-weight: 400;
            text-transform: uppercase;
            text-decoration: none;
            color: #474a51;
            cursor: pointer;

            &:hover {
              transition: all 0.5s ease-in-out;
              background-color: #dde8f6;
              border: none;
            }
          }
        }
      }
    }
  }
}
