.footer {
  width: 100%;
  height: 556px;

  .footer__container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #eeeeee;
    .footer__inner {
      width: 100%;
      max-width: 1280px;
      height: 330px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      .inner__left {
        width: 30%;
        height: 100%;

        .footer__logo {
          width: 100%;
          height: 100px;
          display: flex;
          align-items: center;
        }
        .number {
          width: 100%;
          height: 150px;
          font-size: 22px;
          padding-top: 10px;
          align-items: center;

          span {
            font-size: 13px;
          }
        }
        .privacy {
          width: 100%;
          height: 50px;
          display: flex;
          flex-direction: column;
          margin-top: -30px;

          p {
            font-size: 12px;
          }
        }
      }
      .inner__right {
        width: 50%;
        height: 100%;

        .inner__right__top {
          width: 100%;
          height: 100px;

          .top__top {
            width: 100%;
            height: 45%;
            font-size: 16px;
            color: #474a51;
            font-weight: 400;
            font-family: "Jost", sans-serif;
          }
          .top__bottom {
            width: 100%;
            height: 55%;
            display: flex;
            margin-top: 10px;

            input {
              height: 100%;
              background: none;
              border: none;
              border-bottom: 1px solid #474a51;
              width: 200px;
              font-size: 16px;
              color: #838e9c;
              outline: none !important;
            }
            .podpisatsiya {
              cursor: pointer;
              text-decoration: none;
              width: 155px;
              height: 99%;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid #474a51;
              color: #474a51;
              text-transform: uppercase;
              &:hover {
                background-color: #474a51;
                color: #fff;
                transition: all 0.3s ease-in-out;
              }
            }
          }
        }
        .inner__right__bottom {
          margin-top: 30px;
          width: 100%;
          height: 200px;
          display: flex;

          .footer__links_card {
            width: 33%;
            height: 100%;

            .links__top {
              width: 100%;
              height: 20%;
              display: flex;
              align-items: center;
              text-transform: uppercase;
              font-size: 24px;
              font-weight: 400;
              color: #474a51;
              font-family: "Jost", sans-serif;
            }
            .links__bottom {
              width: 100%;
              height: 78%;
              display: flex;

              flex-direction: column;

              .link {
                color: #474a51;
                margin-top: 5px;
                font-size: 14px;
                font-weight: 400;
                color: #474a51;
                line-height: 150%;
                font-family: "Jost", sans-serif;
                text-decoration: none;

                &:hover {
                  font-weight: 500;
                  color: teal;
                  transition: all 0.3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}
