.saleproduct {
  width: 50%;
  height: 100%;

  background-image: url("../../../../assets//img/sale.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  .saleproduct__card {
    width: 160px;
    height: 110px;

    .saleproduct__title {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      h2 {
        font-weight: 400;
        font-size: 24px;
        align-items: center;
        color: white;
        text-transform: uppercase;
        font-family: "Jost", sans-serif;
      }
    }
    .saleproduct__smotret {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      justify-content: center;

      .smotret {
        text-decoration: none;
        width: 100%;
        height: 51px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #fff;
        color: #fff;
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 400;
        &:hover {
          transition: all 0.3s ease-in-out;
          color: #474a51;
          background-color: #fff;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .saleproduct {
    width: 100%;
  }
}
